/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

<<<<<<< HEAD
header {
  width: 100%;
  height: 596px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.1);
}

.info__header--left {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  background-image: url(/image/photo-1515511856280-7b23f68d2996.jpeg);
  background-size: cover;
}

.info__header--right {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
=======
* {
  border: 1px solid black;
}

.body_index {
  background-image: url(/image/photo-1519974719765-e6559eac2575.jpeg);
  background-position: center;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

.content_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  padding: 47px 0px 71px 54px;
  padding-right: 0px;
}

.content_index-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
>>>>>>> 13bc3d12eae90be53e9a30b7a73d8b4964fe5f71
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
<<<<<<< HEAD
}

.info__header--right .info__header--right-top {
  width: 100%;
  height: 298px;
  background-image: url(/image/photo-1526880792616-4217886b9dc2.jpeg);
  background-size: cover;
  background-position: 50% 40%;
}

.info__header--right .info__header--right-button {
  width: 100%;
  height: 298px;
  background-image: url(/image/photo-1551776235-dde6d482980b.jpeg);
  background-size: cover;
  background-position: 50% 60%;
}

header {
  position: relative;
}

header img {
  position: absolute;
  top: 32px;
  left: 49px;
}

.info__container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 47px;
}

.info__container--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.info--room-infomation {
  line-height: 31px;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.info--room-infomation .room--infos {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.46px;
}

.info--room-name {
  font-size: 36px;
  letter-spacing: 3.76px;
  font-weight: medium;
  margin-bottom: 31px;
}

.info__container--right {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.room--type-info {
  font-size: 12px;
  letter-spacing: 1.25px;
  text-align: justify;
  line-height: 20px;
  font-weight: 300;
  margin-top: 20px;
}

.info--room-price {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  letter-spacing: 3.13px;
  text-align: right;
  line-height: 27px;
}

.day-info {
  font-size: 14px;
  font-weight: 300;
  color: #6d7278;
}

.normal-day-peice {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.weekend-day-price {
  font-weight: 300;
}

.border_decoretion {
  margin-top: 20px;
  font-size: 9px;
  letter-spacing: 10px;
}

.room--check-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.room--check-group h3 {
  font-size: 14px;
  letter-spacing: 1.46px;
  font-weight: 300;
}

.room--check-group h4 {
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 2.19px;
}

.checkOut-group {
  margin-left: 96px;
}

.room--facilities {
  background-color: #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
  margin-bottom: 72px;
  padding-left: 28px;
}

.facilities-wifi {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

.facilities-wifi img {
  width: 20px;
  margin-right: 14px;
}

.facilities-wifi span {
  font-size: 12px;
  letter-spacing: 1.25px;
  display: block;
  font-weight: 300;
=======
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content_index-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content_index-right .content_index-right-rooms {
  width: 305px;
  height: 405px;
  background: white;
  font-size: 14px;
  padding-left: 34px;
}

.content_index-right .content_index-right-rooms img {
  position: relative;
  top: 10px;
  opacity: 0.8;
}

.content_index-right .content_index-right-rooms ul {
  padding-top: 37px;
}

.content_index-right .content_index-right-rooms li {
  position: relative;
  padding-bottom: 37px;
  letter-spacing: 1.5px;
}

.content_index-right .content_index-right-rooms li::before {
  content: '';
  width: 14px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: -21px;
  top: 9px;
  border-radius: 25%;
}

.content_index-right .content_index-right-rooms a {
  text-decoration: none;
  color: black;
  line-height: 20px;
}

.content_index-left-bottom .num {
  font-size: 66px;
  color: white;
  line-height: 98px;
  position: relative;
}

.content_index-left-bottom .num::after {
  content: '';
  background-image: url(/image/index_icon/border.svg);
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.5;
  width: 90px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  left: 0;
}

.content_index-left-bottom p {
  font-size: 24px;
  color: white;
  letter-spacing: 2.5px;
  line-height: 36px;
}

.content_index-right-information {
  position: relative;
  bottom: -30px;
  right: 0;
}

.content_index-right-information img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.content_index-right-information li {
  color: white;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 13px;
}

.content_index-right-information li:first-child {
  padding-bottom: 50px;
}

.content_index-right-information ul {
  position: relative;
  bottom: -30px;
  left: 0;
  padding-left: 20px;
>>>>>>> 13bc3d12eae90be53e9a30b7a73d8b4964fe5f71
}
