/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  border: 1px solid black;
}

.body_index {
  background-image: url(/image/photo-1519974719765-e6559eac2575.jpeg);
  background-position: center;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

.content_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  padding: 47px 0px 71px 54px;
  padding-right: 0px;
}

.content_index-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content_index-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content_index-right .content_index-right-rooms {
  width: 305px;
  height: 405px;
  background: white;
  font-size: 14px;
  padding-left: 34px;
}

.content_index-right .content_index-right-rooms img {
  position: relative;
  top: 10px;
  opacity: 0.8;
}

.content_index-right .content_index-right-rooms ul {
  padding-top: 37px;
}

.content_index-right .content_index-right-rooms li {
  position: relative;
  padding-bottom: 37px;
  letter-spacing: 1.5px;
}

.content_index-right .content_index-right-rooms li::before {
  content: '';
  width: 14px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: -21px;
  top: 9px;
  border-radius: 25%;
}

.content_index-right .content_index-right-rooms a {
  text-decoration: none;
  color: black;
  line-height: 20px;
}

.content_index-left-bottom .num {
  font-size: 66px;
  color: white;
  line-height: 98px;
  position: relative;
}

.content_index-left-bottom .num::after {
  content: '';
  background-image: url(/image/index_icon/border.svg);
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.5;
  width: 90px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  left: 0;
}

.content_index-left-bottom p {
  font-size: 24px;
  color: white;
  letter-spacing: 2.5px;
  line-height: 36px;
}

.content_index-right-information {
  position: relative;
  bottom: -30px;
  right: 0;
}

.content_index-right-information img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.content_index-right-information li {
  color: white;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 13px;
}

.content_index-right-information li:first-child {
  padding-bottom: 50px;
}

.content_index-right-information ul {
  position: relative;
  bottom: -30px;
  left: 0;
  padding-left: 20px;
}
